# ==============================================================================
# Python
# ==============================================================================
# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
xpyrment-*/


# PyInstaller
#  Usually these written by a python script before a bin is built
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nosexy/
.nosetests/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# MkDocs documentation build output
site/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or app, you might want to share this in the repository:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or experience
#   issues with locking, uncomment the next line:
#Pipfile.lock

# poetry
#   Using Poetry, it's generally recommended to commit poetry.lock unless it's a library.
#   For a library like xpyrment, the lockfile might be skipped, but we keep it by default.
# poetry.lock

# pdm
#   Similar to Pipfile.lock / poetry.lock, PDM recommends committing pdm.lock in version control.
#   https://pdm.fming.dev/latest/usage/project/#commit-the-lock-file
# pdm.lock
#   pdm build packge to __pypackages__
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath Parsed Files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs-material Custom Icons
.icons/

# MyPy cache
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker cache
.pyre/

# pytype static analyzer cache
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm / IntelliJ
.idea/

# VS Code
.vscode/

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini
docstring_reference.txt
docstring_reference.md
RELEASE_NOTES.md
cov_report.txt
scratch/
